.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-items-list {
  display: flex;
  padding-left: 0px;
}

.list-of-items {
  list-style-type: none;
}

.nav-link {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 16px;
}
